.btn2{
    padding:10px 18px;
    background: transparent;
    border:1px solid black;
    color:black;
    border-radius:5px;
   outline: none;
   width:415px;
   margin-top:1rem;
   display: flex;
   gap:1rem;
   align-items: center;
   justify-content: center;
   
}